from flask import Flask, render_template, url_for, session, request, redirect, logging, flash  # modules from flask for web server
from data import Items
import pymongo # driver for mongdb connectivity
# import pandas as pd
# import scrapy as scrapy
# from bs4 import BeautifulSoup # used for web scraping
import requests # the request HTTP library allows managing HTTP request/responses to/from websites
from wtforms import Form, StringField, TextAreaField, PasswordField, validators #FOR THE WEBFORMS
from passlib.hash import sha512_crypt #passowrd hashing
import logging
from functools import wraps
from emails import send_mail
from flask import Flask
from flask_mail import Mail, Message